body {
    background-color: black;
    color: white; 
    font-family: 'Arial', sans-serif; 
    margin: 0;
    padding: 0;
    line-height: 1.6; 
}
h1, h2, h3, h4, h5, h6 {
    color: white; /* Títulos em branco */
    font-weight: bold; /* Títulos em negrito */
    text-transform: uppercase; /* Texto em maiúsculas */
    letter-spacing: 2px; /* Espaçamento entre letras */
    margin-top: 20px;
}
h1 {
    font-size: 2.5rem;
    text-align: center; /* Centraliza o título */
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.1); /* Sombra suave no título */
    transition: transform 0.3s ease-in-out; /* Transição suave */
}

h1:hover {
    transform: scale(1.05); /* Efeito de aumento ao passar o mouse */
}
